@import url(../styles.css);

body {
    overflow: hidden !important;
}

#forums .main {
    height: calc(100vh - ((2.5vh * 2) + min(10vw, 24px)));
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: var(--background-three);
}

.sidebar-channels {
    margin: 2em;
    display: flex;
    flex-flow: column;
}

.sidebar-channels h1 {
    flex: 0 1 auto;
}

.sidebar-channels-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    font-size: 1.25em;
    margin-top: 1em;
}

.sidebar-rules {
    margin: 2em;
    display: flex;
    flex-flow: column;
}

.sidebar-rules h1 {
    font-size: 1.75em;
    flex: 0 1 auto;
}

.sidebar-rules-list {
    flex: 1 1 auto;
    list-style-position: inside;
}

.sidebar-rules-list li {
    font-size: 1em;
    margin-top: 1em;
}

.center {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.center-create {
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin: 2em;
    padding: 1em;
    background-color: var(--background-two);
    border-radius: 20px;
}

.center-create textarea {
    border: none;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    resize: none;
    font-size: x-large;
    font-weight: 500;
    background-color: var(--background-two);
    caret-color: var(--foreground);
    color: var(--foreground);
    font-family: 'Mona Sans Regular', sans-serif;
}

.center-create textarea::placeholder {
    color: #999;
}

.center-create textarea:focus {
    outline: none;
}

.center-create button {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: var(--text);
    font-size: x-large;
    font-weight: 500;
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}